<div class="wrapper">
    <header>
        <div class="header-left">
            <i class="material-icons header-item" id="menu" onclick="menuToggle()">menu</i>
            <a class="material-icons header-item" id="home" href="index.html">home</a>
        </div>
        <div class="header-right">
            <i class="material-icons header-item" id="search">search</i>
            <a class="material-icons header-item" id="cart" style="opacity: 0.6;">shopping_cart</a>
        </div>
    </header>
    <main>
        <div class="ham-menu">
            <ul>
                <li>Raw Seawater</li>
                <li>Tasty Seawater</li>
                <li>Funky Seawater</li>
                <li>Seeable Seawater</li>
            </ul>
            <a class="about-us" href="about.html">About us</a>
        </div>

        <div class="cart-wrapper">

          <div class="items-title">Your cart:</div>

          <div class="items-display cart-display">
              <div class="cart-item">
                <div class="cart-item-info">
                    <div class="cart-item-info-desc">Seawater with hint of sea</div>
                    <div class="cart-item-info-price">$14/l</div>
                </div>
                <div class="cart-item-image"></div>
              </div>
              <div class="cart-item">
                <div class="cart-item-info">
                    <div class="cart-item-info-desc">Seawater (as SEAn on tv)</div>
                    <div class="cart-item-info-price">$12/l</div>
                </div>
                <div class="cart-item-image"></div>
              </div>
              <div class="cart-item">
                <div class="cart-item-info">
                    <div class="cart-item-info-desc">Lemon Seawater</div>
                    <div class="cart-item-info-price">$7/l</div>
                </div>
                <div class="cart-item-image"></div>
              </div>
              <div class="cart-item">
                <div class="cart-item-info">
                    <div class="cart-item-info-desc">Eau de Mer</div>
                    <div class="cart-item-info-price">$18/l</div>
                </div>
                <div class="cart-item-image"></div>
              </div>
          </div>
          <div class="cart-buy">Buy now ></div>
        </div>
    </main>
</div>
