<div class="wrapper">
    <header>
        <div class="header-left">
            <i class="material-icons header-item" id="menu">menu</i>
        </div>
        <div class="header-right">
            <i class="material-icons header-item" id="search">search</i>
            <i class="material-icons header-item" id="cart">shopping_cart</i>
        </div>
    </header>
    <main>
        <div class="items-title">Featured Items</div>
        <div class="items-display">
            <div class="item">
                <div class="item-content">
                    <div class="item-info"></div>
                    <div class="item-image">
                        <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="woopsie">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-content">
                        <div class="item-image"></div>
                        <div class="item-info"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-content">
                            <div class="item-image">
                            </div>
                            <div class="item-info"></div>
                </div>
            </div>
        </div>
        
    </main>
    
</div>