<div class="wrapper">
    <header>
        <i class="material-icons header-item" id="menu">menu</i>
        <i class="material-icons header-item" id="search">search</i>
        <i class="material-icons header-item" id="cart">shopping_cart</i>
    </header>
    <main>
    </main>

</div>