<div class="wrapper">
    <header>
        <div class="header-left">
            <i class="material-icons header-item" id="menu">menu</i>
        </div>
        <div class="header-right">
            <i class="material-icons header-item" id="search">search</i>
            <i class="material-icons header-item" id="cart">shopping_cart</i>
        </div>
    </header>
    <main>
        <div class="ham-menu">
            <ul>
                <li>Raw Seawater</li>
                <li>Tasty Seawater</li>
                <li>Funky Seawater</li>
                <li>Seeable Seawater</li>
            </ul>
        </div>
        <div class="items-title">Featured Items</div>
        <div class="items-display">
            <div class="item">
                <div class="item-image">
                    <div class="item-info">Very Tasty Seawater - $5/l</div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <div class="item-info">Lemon Seawater - $7/l</div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <div class="item-info">Seawater (as seen on tv) - $12/l</div>
                </div>
            </div>
        </div>
        
    </main>
    
</div>