<div class="wrapper">
    <header>
        <div class="header-left">
            <i class="material-icons header-item" id="menu" onclick="menuToggle()">menu</i>
            <a class="material-icons header-item" id="home" href="index.html">home</a>
        </div>
        <div class="header-right">
            <i class="material-icons header-item" id="search">search</i>
            <a class="material-icons header-item" id="cart" href="cart.html">shopping_cart</a>
        </div>
    </header>
    <main>
        <div class="ham-menu">
            <ul>
                <li>Raw Seawater</li>
                <li>Tasty Seawater</li>
                <li>Funky Seawater</li>
                <li>Seeable Seawater</li>
            </ul>
            <a class="about-us" href="about.html">About us</a>
        </div>

        <div class="product-wrapper">
          <div class="product-image"></div>
          <div class="product-info">
            <div class="product-info-title">Very Tasty Seawater - $5/l</div>
            <div class="product-info-desc">Ah man, this is some pretty swell
              seawater if you ask me. Great for single moms who spend way
              too much time on facebook and support the anti-vax moment as
              this seawater is very tasty and therefore easily digestable by
              children and works as a great substite for any pesky vaccines.
              <br>
              <br>
              Have your kids autism free!

            </div>
          </div>
          <div class="product-add-to-cart">Add to cart</div>

        </div>

    </main>
</div>
