.wrapper
    display: grid

    grid-template-areas: "header" "main"
    
body
    background-color: #D3C2C2

    margin: 0
    

header
    width: 100vw
    height: 50px

    background-color: #E4AA9B

.header-item
    position: relative
    top: 50%
    transform: translateY(-50%)
#menu
    font-size: 36px

#search
    font-size: 36px
    text-align: right

#cart
    font-size: 36px